<a href="https://colab.research.google.com/github/pingao2019/DS-Unit-1-Sprint-2-Statistics/blob/master/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
diabetes1= pd.read_csv('diabetes-csv.csv')

print(diabetes1.shape)
diabetes1.head()

(72270, 34)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   YearStart  YearEnd  ... StratificationCategoryID3 StratificationID3
0       2018     2018  ...                       NaN               NaN
1       2016     2016  ...                       NaN               NaN
2       2016     2016  ...                       NaN               NaN
3       2018     2018  ...                       NaN               NaN
4       2018     2018  ...                       NaN               NaN

[5 rows x 34 columns]

In [0]:
diab2= pd.read_csv('diab2.csv')
print(diabetes1.shape)
diabetes1.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(72270, 34)

   YearStart  YearEnd  ... StratificationCategoryID3 StratificationID3
0       2018     2018  ...                       NaN               NaN
1       2016     2016  ...                       NaN               NaN
2       2016     2016  ...                       NaN               NaN
3       2018     2018  ...                       NaN               NaN
4       2018     2018  ...                       NaN               NaN

[5 rows x 34 columns]

In [0]:
diab3= pd.read_csv('diab3.txt')

print(diab3.shape)
diab3.head()

(31208, 27)

  CONTRACT_ID  PLAN_ID  ...  DEDUCTIBLE_LEVEL0  DEDUCTIBLE_LEVEL1
0       H0022        1  ...                  0                  0
1       H0022        1  ...                  0                  0
2       H0022        1  ...                  0                  0
3       H0022        1  ...                  0                  0
4       H0028        4  ...                  0                  0

[5 rows x 27 columns]

In [0]:
diab4= pd.read_csv('diab4.txt')

print(diab4.shape)
diab4.head()

(20151, 23)

                 r the total drug costs paid by you and the plan reach $4  ...  0.9
H3655 33 0 2020                                                  2         ...    0
           2020                                                  1         ...    0
           2020                                                  2         ...    0
           2020                                                  1         ...    0
           2020                                                  2         ...    0

[5 rows x 23 columns]